.home{
    background-color: #eee;    
}
.add_task{
padding: 1rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 29.2rem;
margin-left: auto;
margin-right: auto;
background-color: #fff;
}
.form{
    width: 29.2rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.input_task{
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: #eee;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;
    margin-top: .5rem;
}
.input_task:focus{
    outline: none;
    border-bottom: 1px solid lightskyblue;
}
.btn{
    border: none;
    border-radius: 100px;
cursor: pointer;
}

.btn:focus{
    outline: none;

}
.add_icon{
font-size: 2rem;
font-weight: 500;
color: lightblue !important;
}
.all_tasks{
padding-left: 1rem;
padding-right: 1rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 29.2rem;
margin-left: auto;
margin-right: auto;
background-color: #fff;

}